<div class="trip-details">
  <div class="container">
    <header>
      <fa-icon [icon]="faClose" (click)="closeEmitter.emit()"/>
    </header>
    <div class="trip-info">
      <span>Адрес отправления: <strong>{{ trip.addressFrom }}</strong></span>
      <span>Адрес назначения: <strong>{{ trip.addressTo }}</strong></span>
      <span>Стоимость поездки: <strong>{{ trip.price | currency }}</strong></span>
      <span>Время отправления <strong>{{ trip.tripTime | date: 'dd-MM-YYYY HH:mm' }}</strong></span>
    </div>
  </div>
</div>
